<hr style="border-width: 5px;">
<div class="container">
	<footer class="footer-basic">
		<div class="social"><a href="https://www.instagram.com/dna_royalholloway/"><i class="icon ion-social-instagram"></i></a><a href="https://www.linkedin.com/company/dnarhul/about/"><i class="icon ion-social-linkedin-outline"></i></a><a href="https://www.facebook.com/dnarhul"><i class="icon ion-social-facebook"></i></a></div>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="../">Home</a></li>
                <li class="list-inline-item"><a href="../team">Team</a></li>
                <li class="list-inline-item"><a href="../speakers">Speakers</a></li>
            </ul>
            <section class="newsletter-subscribe" style="padding: 0px;margin: 15px 0;">
	            <div class="container">
    		        <div class="intro">
            	        <h2 class="text-center">Subscribe for our Newsletter</h2>
                    </div>
                    <form class="form-inline" method="post" action="../subscribe">
                	    <div class="form-group"><input class="form-control" id="email" type="email" name="sub_email" placeholder="Your Email"></div>
                        <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe</button></div>
                    </form>
                </div>
			</section>
		<p class="copyright">DNA © 2021</p>
	</footer>
</div>