<div class="container">
	<button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button><a href="../"><img id="logo" src="assets/img/DNA%20Logo.png" style="width: 70px;margin: 5px;"></a>
	<div class="collapse navbar-collapse" id="navbarResponsive">
    	<ul class="navbar-nav ml-auto colourChange" style="background-color: #8311a9;">
        	<li class="nav-item"><a class="nav-link" href="../">Home</a></li>
        	<li class="nav-item"><a class="nav-link" href="../conference">Conference</a></li>
            <li class="nav-item"><a class="nav-link" href="../blog-posts">Blogs</a></li>
            <li class="nav-item"><a class="nav-link" href="../art">Art</a></li>
            <li class="nav-item" style="display: none;"><a class="nav-link" href="../know-your-stuff">Know Your Stuff</a></li>
            <li class="nav-item">
            	<div class="nav-item dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#" style="color: rgba(255,255,255,255);font-size: 12px;font-weight: 800;padding: 10px 20px;">EVENTS</a>
            		<div class="dropdown-menu">
            			<a class="dropdown-item" href="../future-events">Future</a>
            			<a class="dropdown-item" href="../past-events">Past</a>
            		</div>
                </div>
            </li>
            <li class="nav-item" style="display:none";><a class="nav-link" href="../purity-kits">Drug Purity Kits</a></li>
            <li class="nav-item"><a class="nav-link" href="../contact">Contact us</a></li>
        </ul>
	</div>
</div>