<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    <header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley7.png');">
        <div class="container">
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Blogs</h1>
                    </div>
            	</div>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 style="text-align: center;">2020 Highlights</h1>
        <div>
            <p><em>DNA is a student collective for Drug and Alcohol Awareness, aiming to educate and reduce harm and misuse of drugs and alcohol on campus.</em><br></p>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Short term objectives:</h3><span>1.&nbsp;Promote a safer approach to parties and recreational substance use (legal or illegal).<br></span>
                </li>
                <li class="list-group-item"><span>2.&nbsp;Collaborate with existing societies on campus.<br></span></li>
                <li class="list-group-item"><span>3.&nbsp;Collaborate with TEDxRHUL furthering this conversation with industry professionals.<br></span></li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Long term objectives:</h3><span>1.&nbsp;Create a safer space for users, helping them take control of their choices, and potentially laying a foundation for quitting substance use.<br></span>
                </li>
                <li class="list-group-item"><span>2.&nbsp;Provide resources on how to perform emergency procedures on drug and alcohol related incidents and how to avoid them.<br></span></li>
                <li class="list-group-item"><span>3.&nbsp;Reduce addiction and dependency<br></span></li>
                <li class="list-group-item"><span>3.&nbsp;Educate students on the effects and dangers of commonly used recreational drugs to prevent incidents.<br></span></li>
            </ul>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>DNA represents the student voice at Royal Holloway, harm reduction policies must be implemented on campus instead of punitive action against vulnerable students.<br></p>
                <p>DNA does not encourage or condemn drug and alcohol consumption, we prioritise student's safety and well being.<br></p>
                <p>We understand that recreational drug and alcohol use is a common part of the university environment.<br></p>
                <p>DNA strives to create a more open conversation about drug use and alcohol consumption.<br></p>
                <p>We believe in a non-stigmatized future to create a safer environment for drug and alcohol users.<br></p>
                <p>DNA campaigns for the support of those who suffer from drug or alcohol dependency and misuse.<br></p>
                <p>We believe that education is the vehicle that will deconstruct taboos, stigma, and misinformation surrounding drug and alcohol use.<br></p>
                <p>DNA believes that students are entitled to education and information on alcohol and drugs. We believe this will enable students to make safer choices.<br></p>
                <p>Systemic racism fuels the discriminatory measures that underpin drug policies. It is this subtle yet deadly enforcement of racist beliefs that we fight against to finally put an end to the so-called 'war on drugs' and to protect the rights of all people affected.<br></p>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>