<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
	<meta charset="utf-8">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('assets/img/Background/CakeSale.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1 class="text-center">Art</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <ul id="year-list" class="nav nav-tabs card-header-tabs" role="tablelist">
                            <li class="nav-item"><br><a class="nav-link" href="#year2020-2021" role="tab" onclick="ChangeGallery(&quot;2020-2021&quot;); return false;">Artist Showcase 2020 - 2021<br></a></li>
                            <li class="nav-item"><br><a class="nav-link" href="#year2019-2020" role="tab" onclick="ChangeGallery(&quot;2019-2020&quot;); return false;">Artist Showcase 2019 - 2020<br></a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content mt-2">
                            <div id="year2020-2021" class="active tab-pane" role="tabpanel">
                                <div class="simple-slider">
                                	<h2 class="text-center">2020-2021 Art Slider</h2>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2020-2021/pic1.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2020-2021/pic2.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2020-2021/pic3.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2020-2021/pic4.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                </div>
                                <p class="card-text"><strong>Rachel Harvey, or as she is more commonly referred to - Rae, is a 19 year old Royal Holloway law student, an artist and a new member of our beautiful and growing DnA family. </strong><br></p>
                                <p class="card-text">Rae’s use of bright colours, her focus on black faces and at times unconventional and simultaneously captivating approach (referring to the cactus lady in particular) truly reveals her unique sense of world view. Her main aim is to highlight the beauty of black culture and black identity, through her own experience as a black woman living in the UK.<br></p>
                                <p class="card-text"><em>'Through my work I wish to showcase the diversity and beauty of our identity, culture and history. Furthermore, it is time for black faces to be visible and represent black viewers, not to just be in the background or a genre of their own. There should be no such thing as ‘black art’. Only art that features that models.'</em><br></p>
                                <p class="card-text"><em>'I knew I wanted to make black people the focus of my art pieces when I had my first gallery exhibition in Walthamstow and a little black girl was staring at my painting of a black girl with an afro protesting against negative black stereotypes written around her. Her father came over and explained that her melanin made her beautiful, and she looked so happy to see herself. Since then, I recognised the important value of black representation in all forms of media and want to continue to highlight the beauty within blackness.'</em><br></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="tab-content mt-2">
                            <div id="year2019-2020" class="tab-pane active" role="tabpanel">
                                <div class="simple-slider">
                                	<h2 class="text-center">2019-2020 Art Slider</h2>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2019-2020/pic1.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2019-2020/pic2.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2019-2020/pic3.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                            <div class="swiper-slide" style="background: url(&quot;assets/img/Art/2019-2020/pic4.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                       		<div class="swiper-slide" style="background: url(&quot;assets/img/Art/2019-2020/pic5.jpg&quot;); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                </div>
                                <p class="card-text"><strong>Almira Güner has been our in house artist from the start of our campaign, her work provided a funky look for our advertisements for fundraisers and pledge banners!</strong><br></p>
                                <p class="card-text">We will miss her groovy designs, so to say thank you for her work, here is a showcase of some of the poster designs she did for us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>