<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/MakeSeshWholesomeAgain2Background.png');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1 class="text-center">Blogs</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="article-list">
    <div class="container">
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post3.html"><img class="img-fluid" src="../assets/img/Background/#" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">Test Your Drugs, Not Yourself</h3><a class="action" href="../Blogs/post3.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item" styel="width:"><a href="../Blogs/post7.html"><img class="img-fluid" src="../assets/img/Blog/Blog2/WomanSpeakerPhone1.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">BLM Protest at Egham&#39;s Magna Carta Memorial</h3><a class="action" href="../Blogs/post7.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post4.html"><img class="img-fluid" src="../assets/img/Blog/Blog1/Moonlight2016.png" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">Film and Racism</h3><a class="action" href="../Blogs/post4.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post5.html"><img class="img-fluid" src="../assets/img/Background/UKIsNotInnocent.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">Protest Advice</h3><a class="action" href="../Blogs/post5.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post6.html"><img class="img-fluid" src="../assets/img/Background/BLMProtestsUK.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">BLM Protests UK</h3><a class="action" href="../Blogs/post6.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post1.html"><img class="img-fluid" src="../assets/img/Background/NewArtist.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">The Science of Psychedelics</h3><a class="action" href="../Blogs/post1.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post2.html"><img class="img-fluid" src="../assets/img/Background/MakeSeshWholesomeAgain1.png" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">Drug Testing Kits Launch</h3><a class="action" href="../Blogs/post2.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="../Blogs/post3.html"><img class="img-fluid" src="../assets/img/Background/AwernessWeek.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
                <h3 class="name">Looking Back and Looking Forward</h3><a class="action" href="../Blogs/post3.html"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
       
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
</body>

</html>