<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley3.png');">
        <div class="container">
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Blogs</h1>
                    </div>
            	</div>
            </div>
        </div>
    </header>
    <section class="article-list">
	    <div class="container">
	        <div class="row articles">
	            <div class="col-sm-6 col-md-4 item"><a href="../blogs/post8.html"><img class="img-fluid" src="../assets/img/blog/background/DNAPresident.jpeg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">Test Your Drugs, Not Yourself</h3><a class="action" href="../blogs/post8.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	            <div class="col-sm-6 col-md-4 item"><a href="../blogs/post7.html"><img class="img-fluid" src="../assets/img/blog/blog2/WomanSpeakerPhone1.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">BLM Protest at Egham&#39;s Magna Carta Memorial</h3><a class="action" href="../blogs/post7.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	            <div class="col-sm-6 col-md-4 item"><a href="../blogs/post6.html"><img class="img-fluid" src="../assets/img/blog/background/BLMProtestsUK.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">BLM Protests UK</h3><a class="action" href="../blogs/post6.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	            <div class="col-sm-6 col-md-4 item"><a href="../blogs/post5.html"><img class="img-fluid" src="../assets/img/blog/background/ProtestsAdvice.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">Protest Advice</h3><a class="action" href="../blogs/post5.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	            <div class="col-sm-6 col-md-4 item"><a href="../blogs/post4.html"><img class="img-fluid" src="../assets/img/blog/blog1/Moonlight2016.png" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">Film and Racism</h3><a class="action" href="../blogs/post4.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	            <div class="col-sm-6 col-md-4 item"><a href="../blogs/post3.html"><img class="img-fluid" src="../assets/img/blog/background/LookingBackAndLookingForward.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">Looking Back and Looking Forward</h3><a class="action" href="../blogs/post3.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	           	<div class="col-sm-6 col-md-4 item"><a href="../blogs/post2.html"><img class="img-fluid" src="../assets/img/blog/background/DrugTestingKitsLaunch.png" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">Drug Testing Kits Launch</h3><a class="action" href="../blogs/post2.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	    	 	<div class="col-sm-6 col-md-4 item"><a href="../blogs/post1.html"><img class="img-fluid" src="../assets/img/blog/background/TheScienceOfPsychedelics.jpg" style="width: 300px;height: 300px;object-fit:cover;" /></a>
	                <h3 class="name">The Science of Psychedelics</h3><a class="action" href="../blogs/post1.html"><i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	    	</div>
	    </div>
	</section>
       
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
</body>

</html>