<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley2.png');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Conference</h1>
                    </div>
                    	<a class="btn btn-info" role="button" href="https://www.eventbrite.co.uk/o/dna-in-collaboration-with-tedxrhul-29689982179" target="new" style="background-color: #8311a9;margin-top: 40px;margin-bottom: 10px;">Get Tickets</a>
                </div>
            </div>
        </div>
    </header>
    <section class="article-list">
    <div class="container">
        <div class="col-md-12 col-lg-12 text-center" style="text-align: left;padding-top: 15px;padding-bottom: 10px;">
		    <div class="post-preview"><a href="">
		            <h2 class="post-title"></h2>
		            <h3 class="post-subtitle">Upcoming speakers</h3>
		        </a></div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Alex Aldridge</h2>
		        <p class="post-meta">Sex, Drugs and Sexual Consent.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/transcending-taboo-day-1-alex-aldridge-dr-david-fawcett-greg-donaldson-tickets-149740831859?aff=ebdsoporgprofile" target="new">Monday 19th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr David Fawcett</h2>
		        <p class="post-meta">When substance use becomes problematic: awareness, strategies and solutions.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/transcending-taboo-day-1-alex-aldridge-dr-david-fawcett-greg-donaldson-tickets-149740831859?aff=ebdsoporgprofile" target="new">Monday 19th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Greg Donaldson</h2>
		        <p class="post-meta">An interactive conversation on the importance of psychedelic integration with DNA’s President Dexter Bohn.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/transcending-taboo-day-1-alex-aldridge-dr-david-fawcett-greg-donaldson-tickets-149740831859?aff=ebdsoporgprofile" target="new">Monday 19th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Reverend Danny Nemu</h2>
		        <p class="post-meta">Ancient Taboos in the Bible: drugs and prohibition in ancient Israe.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-2-reverend-danny-nemu-amber-moore-tickets-149886228745?aff=ebdsoporgprofile" target="new">Tuesday 20th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Amber More</h2>
		        <p class="post-meta"></p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-2-reverend-danny-nemu-amber-moore-tickets-149886228745?aff=ebdsoporgprofile" target="new">Tuesday 20th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Fiona Spargo-Mabbs</h2>
		        <p class="post-meta">Making safer choices: drugs and the brain.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-3-fiona-spargo-mabbs-ivan-ezquerra-romano-rosalind-stone-tickets-149887610879?aff=ebdsoporgprofile" target="new">Wednesday 21th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Ivan Ezquerra-Romano</h2>
		        <p class="post-meta">How drug memes can help you managing the harms and pleasures associated with substance use.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-3-fiona-spargo-mabbs-ivan-ezquerra-romano-rosalind-stone-tickets-149887610879?aff=ebdsoporgprofile" target="new">Wednesday 21th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Ros Stone</h2>
		        <p class="post-meta">Throwing white powder on the ghost: psychedelics, harm reduction and the mainstream media.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-3-fiona-spargo-mabbs-ivan-ezquerra-romano-rosalind-stone-tickets-149887610879?aff=ebdsoporgprofile" target="new">Wednesday 21th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr. David Luke</h2>
		        <p class="post-meta">Transpersonal Ecodelia: Re-becoming a part of nature through psychedelics.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-4-dr-david-luke-dr-sam-gandy-tickets-149888507561?aff=ebdsoporgprofile" target="new">Thursday 22nd April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr. Sam Gandy</h2>
		        <p class="post-meta">From Egoism to Ecoism: Psychedelics and Nature Connectedness.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-4-dr-david-luke-dr-sam-gandy-tickets-149888507561?aff=ebdsoporgprofile" target="new">Thursday 22nd April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr. Mark Berry</h2>
		        <p class="post-meta">The Ethics and Challenges of Semi-covert research with Drug Dealers.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-5-dr-mark-berry-dr-meckel-fischer-timmy-davis-tickets-149889085289?aff=ebdsoporgprofile" target="new">Friday 23rd April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr. Fredericke Meckel-Fischer</h2>
		        <p class="post-meta">Substance Supported Psychotherapy: a small insight.</p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-5-dr-mark-berry-dr-meckel-fischer-timmy-davis-tickets-149889085289?aff=ebdsoporgprofile" target="new">Friday 23rd April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Timmy Davis</h2>
		        <p class="post-meta"></p>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/tt-day-5-dr-mark-berry-dr-meckel-fischer-timmy-davis-tickets-149889085289?aff=ebdsoporgprofile" target="new">Friday 23rd April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		</div>
    </div>
</section>
       
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
</body>

</html>