<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/MakeSeshWholesomeAgain2Background.png');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1 class="text-center">Conference</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="article-list">
    <div class="container">
        <div class="col-md-12 col-lg-12 text-center" style="text-align: left;padding-top: 15px;padding-bottom: 10px;">
		    <div class="post-preview"><a href="">
		            <h2 class="post-title"></h2>
		            <h3 class="post-subtitle">Our upcoming speakers</h3>
		        </a></div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Alex Aldridge</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 19th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Dr David Fawcett</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 19th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Greg Donaldson</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 19th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Flona Spargo-Mab bs</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 21th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Ros Stone</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 21th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Mark Berry</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 23th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="">
		        <h2 class="post-title">Ros Stone</h2>
		        </a><p class="post-meta">Presenting on <a href="">Monday 21th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		</div>
    </div>
</section>
       
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
</body>

</html>