<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley2.png');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Conference</h1>
                    </div>
                    	<a class="btn btn-info" role="button" href="https://www.eventbrite.co.uk/o/dna-in-collaboration-with-tedxrhul-29689982179" target="new" style="background-color: #8311a9;margin-top: 40px;margin-bottom: 10px;">Get Tickets</a>
                </div>
            </div>
        </div>
    </header>
    <section class="article-list">
    <div class="container">
        <div class="col-md-12 col-lg-12 text-center" style="text-align: left;padding-top: 15px;padding-bottom: 10px;">
		    <div class="post-preview"><a href="">
		            <h2 class="post-title"></h2>
		            <h3 class="post-subtitle">Upcoming speakers</h3>
		        </a></div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Alex Aldridge</h2>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/transcending-taboo-day-1-alex-aldridge-dr-david-fawcett-greg-donaldson-tickets-149740831859?aff=ebdsoporgprofile" target="new">Monday 19th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr David Fawcett</h2>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/transcending-taboo-day-1-alex-aldridge-dr-david-fawcett-greg-donaldson-tickets-149740831859?aff=ebdsoporgprofile" target="new">Monday 19th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Greg Donaldson</h2>
		        </a><p class="post-meta">Presenting on <a href="https://www.eventbrite.co.uk/e/transcending-taboo-day-1-alex-aldridge-dr-david-fawcett-greg-donaldson-tickets-149740831859?aff=ebdsoporgprofile" target="new">Monday 19th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Reverend Danny Nemu - 'Acient Taboos in the Bible: drugs and prohibition in acient Israel'</h2>
		        </a><p class="post-meta">Presenting on <a href="" target="new">Monday 21th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Flona Spargo-Mab bs</h2>
		        </a><p class="post-meta">Presenting on <a href="" target="new">Monday 21th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Flona Spargo-Mab bs</h2>
		        </a><p class="post-meta">Presenting on <a href="" target="new">Monday 21th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Ros Stone</h2>
		        </a><p class="post-meta">Presenting on <a href="" target="new">Monday 21th April on 6:00-7:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Mark Berry</h2>
		        </a><p class="post-meta">Presenting on <a href="" target="new">Monday 23th April on 2:00-3:00 PM</a></p>
		    </div>
		    <hr />
		    <div class="post-preview"><a href="/speakers">
		        <h2 class="post-title">Dr. Meckel-Fischer</h2>
		        </a><p class="post-meta">Presenting on <a href="" target="new">Monday 23th April on 4:00-5:00 PM</a></p>
		    </div>
		    <hr />
		</div>
    </div>
</section>
       
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
</body>

</html>