<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
   
   <header class="masthead" style="background-image:url('assets/img/Background/TalentShow.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Past Events</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <section style="margin-bottom: 20px;margin-top: 20px;">
            <h4 style="margin-bottom: 0px;">Drug and Alcohol Awareness Week</h4>
            <p style="margin: 0px;margin-bottom: 8px;"><strong>2nd-7th March 2020</strong><br></p>
            <div class="row">
                <div class="col"><img class="image" src="assets/img/PastEvents/pic1.jpg"></div>
                <div class="col"><img class="image" src="assets/img/PastEvents/pic2.jpg"></div>
                <div class="col"><img class="image" src="assets/img/PastEvents/pic3.jpg"></div>
            </div>
        </section>
        <hr>
        <section>
            <div class="row">
                <div class="col col-md-9">
                    <h4 style="margin-bottom: 0px;">'Sex and Drugs' with <a href="/speakers">Alex Aldridge</a></h4>
                    <p style="margin: 0px;margin-bottom: 8px;"><strong>2nd March 2020</strong></p>
                    <p style="margin-bottom: 8px;margin-top: 0px;">Free talk and Q&amp;A in collaboration with TexX at Royal Holloway.</p>
                </div>
            </div>
            <div class="row">
                <div class="col"><img class="image" src="assets/img/PastEvents/pic5.jpg"></div>
                <div class="col"><img class="image" src="assets/img/PastEvents/pic6.jpg"></div>
                <div class="col"><img class="image" src="assets/img/PastEvents/pic7.jpg"></div>
            </div>
        </section>
        <hr>
        <section>
            <div class="row">
                <div class="col col-md-9">
                    <h4 style="margin-bottom: 0px;"><strong>'An Adult Conversation About Drugs' with <a href="/speakers">Sebastian Saville</a></strong><br></h4>
                    <p style="margin: 0px;margin-bottom: 8px;"><strong>4th March 2020</strong></p>
                    <p style="margin-bottom: 8px;margin-top: 0px;">Free talk and Q&amp;A in collaboration with TexX at Royal Holloway.</p>
                </div>
            </div>
        </section>
        <hr>
        <section class="event">
            <div class="row">
                <div class="col col-md-9">
                    <h4 style="margin-bottom: 0px;"><strong>'Drug Addiction and the Future of Psychedelic Integration' with <a href="/speakers">Greg Donaldson</a></strong><br></h4>
                    <p style="margin: 0px;margin-bottom: 8px;"><strong>6th March 2020</strong></p>
                    <p style="margin-bottom: 8px;margin-top: 0px;">Free talk and Q&amp;A in collaboration with TexX at Royal Holloway.</p>
                </div>
            </div>
            <hr>
        </section>
        <section class="event">
            <h4 style="margin-bottom: 0px;">Talent Show Fundraiser</h4>
            <p style="margin: 0px;margin-bottom: 8px;"><strong>7th March 2020</strong></p>
            <div class="row">
                <div class="col"><img class="image" src="assets/img/PastEvents/pic10.jpg" style="width:340px"></div>
            </div>
        </section>
    </div> 
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>