<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('#');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1>Links To The Speakers</h1><span class="meta">Our past speakers</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <section class="team-boxed">
                <div class="container">
                    <div class="intro"></div>
                    <div class="row people">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="../assets/img/speakers/GregDonaldson.png">
                                <h3 class="name">Greg Donaldson</h3>
                                <p class="description">Alex Aldridge is a PDH research student in the Department of Law and Criminology at Royal Holloway. Her research focuses on intoxication, sex and sexual consent.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="./assets/img/speakers/SebastianSaville.png">
                                <h3 class="name">Sebastian Saville</h3>
                                <p class="description">Sebastian is best described as a social entrepreneur and activist. He was appointed Executive Director of International Doctors for Healthier Drug Policies in 2015, after setting up the Teeth Project in the USA. From 2003-2012 he was the Executive Director of Release the UK centre of expertise on drugs and law. There he played a key role in the Nice People Take Drugs campaign.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="./assets/img/speakers/AlexAldridge.png">
                                <h3 class="name">Alex Aldridge</h3>
                                <p class="description">Greg Donaldson is a transpersonal therapist with his own practice and is part of the Psychedelic Research Group at Imperial College London.</p>
                                <p class="description"></p>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>