<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley8.png');">
        <div class="container">
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Speakers</h1>
                    </div>
            	</div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <section class="team-boxed">
                <div class="container">
                    <div class="intro"></div>
                    <h2 class="post-subtitle">Upcoming Speakers</h2>
                    <div class="row people">
                    	<div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Timmy Davis</h3>
                                <p class="description">Timmy Davis is currently working at the Conservative Drug Policy Reform Group as the Psilocybin Rescheduling Project manager, where his primary duty is collating and presenting the evidence for a change in psilocybin’s classification as a Schedule 1 substance under the Misuse of Drugs Regulation 2001. Timmy sees the case of psilocybin (the psychoactive compound in mushrooms) as indicative of a wider need for reassessment of the status of many other Schedule 1 substances, such as MDMA. He is also a guide on the psilocybin for treatment resistant depression trials at Kings College London, as well as a welfare and harm reduction manager at music festivals in the UK and abroad. Timmy’s talk will focus the practice of psychoanalysis as a chapter in the history of trance and how this phenomenon is re-emerging in society and modern medical research. We will also be discussing the ways in which psychedelics can act am amplieres of personal meaning and the next of the CDPRG’s campaign to deschedule compounds such as psylocybin and MDMA in the UK.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Dr. Fredericke Meckel-Fischer</h3>
                                <p class="description">Friederike Meckel trained as a medical doctor and a medical psychotherapist in Germany. From 1989-1991 she trained as a Holotropic Breathwork© facilitator with Prof. Stanislav Grof in the US. She also trained as a couple’s therapist, family therapist and family-constellation-worker. After receiving her license for psychotherapy in 1997, she worked in her own private practice providing conventional psychotherapy, Holotropic Breathwork©, groups and systemic-family-constellation work. For nearly ten years Dr. Meckel-Fischer offered substance-supported therapy, working underground. Being retired now she still offers some private psychological counselling in Zürich. Her book ‘Therapy with Substance’ (https://www.aeonbooks.co.uk/) was published in 2015. She will talk about her own psycholytic journey, her work with substance-supported psychotherapy and give a brief overview of the benefits and uses of some psychoactive substances in the therapeutic setting.</p>
                        	</div>
                        </div>
                    	<div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Dr. Mark Berry</h3>
                                <p class="description">Dr. Mark Berry is a lecturer in Criminology at Royal Holloway, a member of the Human Enhancement Drugs Network and served as a trustee for the International Association for the Study of Organised Crime (IASOC). Dr. Berry’s research aims to investigate the nature of illicit drug markets, the crime risk management practices of drug dealers, and possible reasons for their involvement and patterns of activity. He examines how emergent technologies have radically reshaped and reformed criminal markets in ways that provide new opportunities and risks for offenders. Mark’s talk will focus on the findings from his semi-covert research with active drug dealers. It outlines the ethical and methodological challenges of conducting ethnographic research on hard to reach criminal groups.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Dr. Sam Gandy</h3>
                                <p class="description">Sam is a lifelong nature lover and has been fortunate enough to conduct ecological field research in various parts of the world. He is a PhD ecologist, writer, and speaker and has experience working within the psychedelic field, as a past scientific assistant to the director of the Beckley Foundation, and working as an ecopsychology coordinator with the Synthesis Institute designing nature-based programmes for people undergoing psilocybin therapy for depression. He is also a collaborator with the Centre for Psychedelic Research at Imperial College London, with a research interest in the capacity of psychedelics to influence our connection to nature.</p>
								<P class="description">What overlap is there between how psychedelics and contact with nature can affect our mental state? And how can we maximise this synergy between nature and psychedelics to improve mental health? Sam's talk will address these questions by examining the concept of Nature-relatedness, considered to the measure of one's self-identification with nature. This is associated with a broad range of positive indications linked to psychological well-being, while also being a strong psychological predictor of pro-environmental behaviour. Sam will be presenting fresh findings resulting from collaborative work with Imperial College’s Centre for Psychedelic Research, including the first scientific evidence of a prospective role of psychedelics increasing nature relatedness in a healthy population in an enduring way.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Dr. David Luke</h3>
                                <p class="description">Dr. David Luke is Associate Professor of Psychology at the University of Greenwich as well as an honorary Senior Lecturer at Imperial College London. David’s current research is into psychedelics and includes ten books (most recently Psychedelic Mysteries of the Feminine). When he is not running clinical drug trials with LSD, he is doing DMT field experiments or observing apparent weather control with Mexican shamans. David directs the Ecology, Cosmos and Consciousness salon; he is also a co-founder, director and the current chair of Breaking Convention: International Conference on Psychedelic Consciousness.</p>
                                <p class="description">Exploring interspecies interactions arising from the use of psychedelic plants this talk considers what can be learned from animism and shamanism in informing both psychology and ecology. Fusing research from parapsychology, transpersonal psychology, ecopsychology, ethnobotany and the investigation of psychedelics a perspective of transpersonal ecopsychology views human-flora/fauna/fungi interactions as meaningful, potentially transformative and sorely needed given the current rate of manmade species extinction on Earth.</p>
                        	</div>
                        </div>
                    	<div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Rosalind Stone</h3>
                                <p class="description">Ros is currently the outreach and communication coordination for the Conservative Party Drug Policy Reform Group. Her talk will focus on the mainstream media presentation of particular substances (specifically, but not exclusively, amphetamine, opiate painkillers, MDMA, and psilocybin) through the ages. Considering each in relation to the evolution of digital and print media, she will explore the teachings that these evolving portrayals have to offer about the complex interrelationships relationships between mainstream media, our collective consciousness, the development of drug policies, and harm reduction practices.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Ivan Ezquerra-Romano</h3>
                                <p class="description">Ivan co-founded the popular website Drugsand.me while studying at UCL to help provide students with actionable harm reduction advice. Ivan will be discussing the Drugsand.me origin story as well as it’s future in exciting new projects that seek to bridge the gap between digital harm reduction and ‘pleasure-management’. Ivan’s talk will also explore what ‘drug memes’ are and how they can guide safer substance use behaviours. In tandem with this, he will also be speaking about recent research insights that his team has uncovered from surveying UK university student populations during the pandemic.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Fiona Spargo-Mabbs</h3>
                                <p class="description">Fiona is the founder of the Daniel Spargo-Mabbs foundation, a drug education charity dedicated to raising awareness about the negative impacts of substance use through quality harm reduction. Fiona’s talk will discuss the most recent scientific research into adolescent brain development, decision making and risk management. Focusing on the interactions of psychoactive substance and the brain as well as the neurology of substance use disorders. She will also offer practical strategies that we can all implement for safer decision making.</p>
                        	</div>
                        </div>
                    	<div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Amber Moore</h3>
                                <p class="description">Amber is a senior researcher and policy officer at the Conservative Drug Policy Reform Group. Her work pays close attention to the impact of prohibition on individuals and society as well as the medical potential of controlled drugs. Amber co-authored 'The UK Review of Medicinal Cannabis: The Needs of a Nation' (2020) and is the author of 'Public Attitudes to Drugs in the UK 2019: is the UK ready for drug policy reform?'. Her 4/20 talk will focus on why cannabis is so complex in terms of drug policy and where fundamental changes need to happen in the UK. She will specifically discuss how we change governmental appetite for drug policy reform by shifting consciousness through effective campaigning.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Reverend Danny Nemu</h3>
                                <p class="description">Danny Nemu is an independent researcher interested in what the Bible can tell us about the powers and peculiarities of the human mind. He is the author of Science Revealed and Neuro-Apocalypse out on Psychedelic Press and Getting High with the Most High: Entheogens in the Bible. He is also the founder and director of the reforestation org www.rainumbrella.org</p>
                                <p class="description">Talk: All plants are kosher, and the Bible has many examples of resins used for their psychoactive effects, including opioid-receptor and GABA-receptor agonists, dopamine boosters and neuroprotective compounds. Some combinations of these drugs, however, are taboo, such as the anointing oil of the Tabernacle, containing cannabis, myrrh, and two types of cinnamon. It was used by the priestly caste to meet with the divine, but if commoners mixed it up they could be expelled from the tribe into the wilderness. Were they protecting the people from something, or protecting something from the people?</p>
                                <p class="description">The psychopharmacology of these substances is complex and fascinating, and so is the folklore (including the taboos). Join Danny Nemu to explore the psychoactive secrets of a book that is far more wacky than most god-fearing folk realise.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="../assets/img/speakers/GregDonaldson.png">
                                <h3 class="name">Greg Donaldson</h3>
                                <p class="description">Greg Donaldson is a Transpersonal Psychotherapist involved with the Center for Psychedelic Research at Imperial College London. He will be discussing different techniques of psychedelic integration and why this practice is a vital tool for deriving meaning out of these extraordinary experiences. A participatory event, DNA’s President Dexter Bohn will be asking questions polled from the audience before opening the floor to general Q&A.</p>
                        	</div>
                        </div>
                    	<div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="">
                                <h3 class="name">Dr. David Fawcett</h3>
                                <p class="description">Dr. Fawcett is a clinical sexologist working in addictions and mental health for the past three decades. His talk will discuss the underlying risk factors of substance use, especially focusing on those with heightened risk due to stigmatized identities such as queer people, sex workers, and individuals living with HIV or mental illness. Special attention will be given to combined behaviors such as drugs and sex, a phenomenon in the MSM community known as chemsex, which “hijacks” the brain’s reward circuitry and greatly complicates recovery. Finally, foundational principles of recovery, including components of resilience, will be discussed.</p>
                        	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="./assets/img/speakers/AlexAldridge.png">
                                <h3 class="name">Alex Aldridge</h3>
                                <p class="description">Alex Aldridge is a PDH research student in the Department of Law and Criminology at Royal Holloway. Her research focuses on intoxication, sex and sexual consent.</p>
                        	</div>
                        </div>
                    </div>
                    <h2 class="post-subtitle">Past Speakers</h2>
                    <div class="row people">
                    	<div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="./assets/img/speakers/SebastianSaville.png">
                                <h3 class="name">Sebastian Saville</h3>
                                <p class="description">Sebastian is best described as a social entrepreneur and activist. He was appointed Executive Director of International Doctors for Healthier Drug Policies in 2015, after setting up the Teeth Project in the USA. From 2003-2012 he was the Executive Director of Release the UK centre of expertise on drugs and law. There he played a key role in the Nice People Take Drugs campaign.</p>
                        		<p class="description">As a member of the Expert Witness Institute, Sebastian is able to provide specialist evidence in all UK courts of law and has accompanied high-level delegations as an expert on drug policy and harm reduction. Sebastian has used his extensive knowledge and expertise in the field to produce feature length documentary films and to help convince global web platforms like Talking Drugs.</p>
                        		<p class="description">Sebastian has spoken at a number of international conferences and is currently involved in projects to reduce the inequality in access to medication for the treatment of serve pain. Ge is alos Director of Operations at film company 3DD Entertainment. When featured in a broadsheet interview, Sebastian was described as a "Rebel with a cause".</p>
                        	</div>
                        </div>
                	</div>
                </div>
            </section>
        </div>
    </article>    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>