<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

	<header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley8.png');">
        <div class="container">
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Blogs</h1>
                    </div>
            	</div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <section class="team-boxed">
                <div class="container">
                    <div class="row people" style="padding: 0px;padding-top: 15px;">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Dexter Bohn</h3>
                                <p class="title">President</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Mickey Schulkes</h3>
                                <p class="title">Creative Director</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Annie Noakes-Robinson</h3>
                                <p class="title">Project Doctor</p>
                                </div>
                        </div>
                    </div>
                    <div class="row people" style="padding: 0px;">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Barney Capstick&nbsp;</h3>
                                <p class="title">Head of Recruitment</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Linus Holmes</h3>
                                <p class="title">Know your stuff project lead</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Katie Palmer</h3>
                                <p class="title">Collaboration officer</p>
                                </div>
                        </div>
                    </div>
                    <div class="row people" style="padding: 0px;">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Cristina Nicolea</h3>
                                <p class="title">Social Media Manager</p>
                               	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Rafal Zacher</h3>
                                <p class="title">Website Manager</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Coleman Bohn</h3>
                                <p class="title">Social Media Manager/ Videography Consultant</p>
                                </div>
                        </div>
                    </div>
                    <div class="row people" style="padding: 0px;">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Isabelle Koch</h3>
                                <p class="title">Speaker Coordinator</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Rosie Cannon</h3>
                                <p class="title">Speakers Conference Marketing</p>
                               	</div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Maya Pan</h3>
                                <p class="title">Substance Researcher</p>
                                </div>
                        </div>
                    </div>
                    <div class="row people" style="padding: 0px;">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Dylan Ferrar</h3>
                                <p class="title">Musical Consultant</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <h3 class="name">Hannah Murrell</h3>
                                <p class="title">Digital Content Creation</p>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item"></div>
                    </div>
                </div>
            </section>
        </div>
    </article>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>