<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<header class="masthead" style="background-image:url('assets/img/contact-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Contact Me</h1><span class="subheading">Have questions? I have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
    <div class="container">
    	<div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>Please enter your subscribed email and click the <i>unsubscribe</i> button below to unsubscribe from our newsletter.</p>
				<form id="contactForm" name="unsubscribe" novalidate="novalidate" method="post" action="../removeSubscriber">
				    
				    <div class="control-group">
				        <div class="form-group floating-label-form-group controls">
				        	<label>Email Address</label>
				        	<input class="form-control" type="email" name="email" id="email" required placeholder="Email Address" />
				        	<small class="form-text text-danger help-block"></small>
				        </div>
				    </div>
				    <div class="form-group"><button class="btn btn-primary" id="sendMessageButton" type="submit" style="background-color: #23a75e">Unsubscribe</button></div>
				</form>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>