<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('assets/img/Background/TalentShow.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Upcoming</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row"></div>
    </div>
    <hr>
    <footer>
        <hr style="border-width: 5px;">
        <div class="container">
            <footer class="footer-basic">
                <div class="social"><a href="https://www.instagram.com/dna_royalholloway/"><i class="icon ion-social-instagram"></i></a><a href="https://www.linkedin.com/company/dnarhul/about/"><i class="icon ion-social-linkedin-outline"></i></a><a href="https://www.facebook.com/dnarhul"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                    <li class="list-inline-item"><a href="../team.html">Team</a></li>
                    <li class="list-inline-item"><a href="../speakers.html">Speakers</a></li>
                </ul>
                <section class="newsletter-subscribe" style="padding: 0px;margin: 15px 0;">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Subscribe for our Newsletter</h2>
                        </div>
                        <form class="form-inline" method="post">
                            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
                        </form>
                    </div>
                </section>
                <p class="copyright">DNA © 2021</p>
            </footer>
        </div>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>