<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <%- include('../partials/navigation.ejs'); %>
    </nav>
    
    <header class="masthead" style="background-image:url('../assets/img/Background/bannersmiley5.png');">
        <div class="container">
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <div class="site-heading" style="height: 200px;">
                        <h1 style="font-size: 30px;">Blogs</h1>
                    </div>
            	</div>
            </div>
        </div>
    </header>
    <div class="container">
    	<section class="event">
            <h4 style="margin-bottom: 0px;"><a href="/conference">Conference with many guests</a></h4>
            <p style="margin: 0px;margin-bottom: 8px;"><strong>19th-23rd April 2021</strong></p>
            <div class="row">
                <div class="col"><img class="image" src="#" style="width:340px"></div>
            </div>
        </section>
        <hr>       
    </div> 
    <hr>    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div></div>
    <%- include('../partials/scripts'); %>
</body>

</html>